//// Overrides
.v-card
    box-shadow: 0px 0px 7px -1px rgba(0, 0, 0, 0.25) !important


//
//.v-card__title
//    word-break: break-word !important
//
//.v-btn
//    text-transform capitalize !important
//
//.v-overlay--active
//    backdrop-filter blur(6px)
//
//    .v-overlay__scrim
//        backdrop-filter blur(0px)
//
//
//.container
//    max-width 1280px !important
//
//
//.hide-ripple
//    .v-ripple__container
//        display none
//
//    &:focus
//        .v-card__link
//            opacity: 0;
